<!DOCTYPE HTML>

<html>

<head>
  <meta charset = "utf-8" >
  <title>Блог Папая</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <ht id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Popeye<span class="logo_colour"></span></a></h1>
          <h2>The Yacht School</h2>
        </div>
      </div>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Введите слово..." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Поиск" title="Поиск" />
          </p>
        </form>
</html>