<!DOCTYPE HTML>
<html>

<head>
  <meta charset = "utf-8" >
  <title>black &amp; white - contact us</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Popeye<span class="logo_colour"></span></a></h1>
          <h2>The Yacht School</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href='/'>Home</a></li>
          <li><a href=/news/>Новости</a></li>
          <li><a href=/blog/>Блог</a></li>
          <li><a href=/courses/>Курсы</a></li>
          <li><a href=/contacts/>Контакты</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h1>Контакты</h1>
        <p>Звоните: +7 (812) 777-77-77</p>
        <p>Приходите: St Petersburg, Russia</p>
        <p>или просто оставьте заявку и мы позвоним сами:</p>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Popeye the Yacht School
    </div>
  </div>
</body>
</html>
