{% block title %}
    {% include "base.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/">назад на главную</a>
    </div>

    <br>
    <br>

    <div>
        <a href="/generate_course/?id={{id}}">Создать новый курс</a>
        <br>
        <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/courses_copy/?name={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
{% endblock %}