<!DOCTYPE HTML>
<html>

<head>
  <title>black &amp; white - examples</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Popeye<span class="logo_colour"></span></a></h1>
          <h2>The Yacht School</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href=/index/>Home</a></li>
          <li><a href=/about/>About Us</a></li>
          <li><a href=/blog/>Sail Blog</a></li>
          <li><a href=/courses/>Yacht Courses</a></li>
          <li><a href=/contacts/>Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Courses List</h1>
        <p>In our nautical school you can get all the necessary certificates.</p>
        <h2>COASTAL SKIPPER</h2>
        <p>Advanced training course for boatmasters of non-commercial sailing and motor yachts, sufficient to manage your own or rented / charter boat anywhere in the world.</p>

        </p>The theoretical knowledge gained, supported by subsequent practical training, will allow you to confidently walk in coastal areas of the sea with a distance of up to 50 miles</p>
        </p>from the coast, plan long-distance sea passages, and also operate ship systems to the level of medium repair.</p>
        <h2>BAREBOAT SKIPPER</h2>
        <p>A comprehensive training course for captains of sailing and motor yachts is sufficient to manage a cruise yacht, rented / charter anywhere in the world.</p>
        </p>The program of the course is phased, consists of theoretical lessons, including navigation laying on maps, a practical training course on the school's cruising yachts</p>
        </p>and qualifying sailing to obtain a sailing qualification of 200 miles.</p>
        <h2>YACHTMASTER OFFSHORE</h2>
        <p>Theoretical training course for captains of cruising yachts.</p>
        <p>After training, you will be able to command a sailing and motor non-commercial vessel without sailing restrictions in the navigation area up to 200 miles from the place of refuge,</p>
        <p>having legal Russian state documents all over the world.</p>
        <h2>COMPETENT CREW</h2>
        <p>The purpose of the course is to gain theoretical knowledge and practical skills that allow a novice yachtsman to join any crew of a sports sailing vessel.</p>
        <h2>NAUTICAL ASTRONOMY</h2>
        <p>In the process of studying on the course "Nautical Astronomy" you will gain practical skills in determining the geographical coordinates of a yacht's position on the high seas using celestial bodies,<p>
        <p>using astronavigational instruments and ephemeris tables with an accuracy of 1-2 miles.</p>
        <p>Learn to calculate the time of sunrise and sunset, the time of the beginning of civil and nautical twilight, determine the compass correction at sunrise or the North Star, determine the phases and age of the moon,<p>
        <p>as a factor in the illumination of the navigation area.</p>
        <p>Get an idea about the celestial sphere, the main points and planes and the principles of the location and movement of celestial bodies on the sphere,</p>
        <p>understand the connection between celestial and geographical coordinates, as well as understand the differences between ship, local, standard, Greenwich and sidereal time.</p>

        <h2>Text</h2>
        <p>The following examples show how the text (within '&lt;p&gt;&lt;/p&gt;' tags) will appear:</p>
        <p><strong>This is an example of bold text</strong></p>
        <p><i>This is an example of italic text</i></p>
        <p><a href="#">This is a hyperlink</a></p>
        <h2>Lists</h2>
        <p>This is an unordered list:</p>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ul>
        <p>This is an ordered list:</p>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
          <li>Item 4</li>
        </ol>
        <h2>Gallery</h2>
        <p>images can be placed on the left, in the center or on the right:</p>
        <span class="left"><img src="style/graphic.png" alt="example graphic" /></span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum.
        </p>
        <span class="center"><img src="style/graphic.png" alt="example graphic" /></span>
        <span class="right"><img src="style/graphic.png" alt="example graphic" /></span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <h2>Tables</h2>
        <p>Tables should be used to display data and not used for laying out your website:</p>
        <table style="width:100%; border-spacing:0;">
          <tr><th>Item</th><th>Description</th></tr>
          <tr><td>Item 1</td><td>Description of Item 1</td></tr>
          <tr><td>Item 2</td><td>Description of Item 2</td></tr>
          <tr><td>Item 3</td><td>Description of Item 3</td></tr>
          <tr><td>Item 4</td><td>Description of Item 4</td></tr>
        </table>
        <h2>Form Elements</h2>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Form field example</span><input type="text" name="name" value="" /></p>
            <p><span>Textarea example</span><textarea rows="8" cols="50" name="name"></textarea></p>
            <p><span>Checkbox example</span><input class="checkbox" type="checkbox" name="name" value="" /></p>
            <p><span>Dropdown list example</span><select id="id" name="name"><option value="1">Example 1</option><option value="2">Example 2</option></select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="button" /></p>
          </div>
        </form>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; black &amp; white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a>
    </div>
  </div>
</body>
</html>
