<!DOCTYPE HTML>

<html>

<head>
  <meta charset = "utf-8" >
  <title>Яхтенная Школа "Папай"</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Popeye<span class="logo_colour"></span></a></h1>
          <h2>The Yacht School</h2>
        </div>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Введите слово..." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Поиск" title="Поиск" />
          </p>
        </form>
      </div>
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
    </div>
        <!-- insert the page content here -->
        <h2>Добро пожаловать в яхтенную школу "Папай"</h2>
        <p>В одно из самых крупных и авторитетных учебных заведений страны. Мы более 10-ти лет работаем по высоким стандартам образования в сфере любительского мореплавания с соблюдением традиций и морской культуры.</p>
        <p>Выпущено более <strong>2000</strong> курсантов, <strong>30</strong> из которых совершили одиночные плавания вокруг света.</p>
        <p>Ознакомиться с условиями можно <a href=/courses/>здесь</a>.</p>
        <p>Свяжитесь с нами или просто оставьте заявку через форму обратной связи <a href=/contacts/>здесь</a>.</p>
        <h2>Наша миссия</h2>
        <p>Находясь в профессиональном яхтенном деле давно, своей главной задачей мы считаем формирование правильного морского мировоззрения, что не позволяет нам снижать образовательные стандарты до «рыночного» уровня.</p>
        <ul>
          <li>Теоретическое обучение</li>
          <li>Практические плавания</li>
          <li>Обучение по российским стандартам</li>
          <li>Профессиональный преподавательский состав</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Popeye the Yacht School
    </div>
  </div>
</body>
</html>
