<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href='/'>Home</a></li>
          <li><a href=/news/>Новости</a></li>
          <li><a href=/blog/>Блог</a></li>
          <li><a href=/program/>Программа обучения</a></li>
            <ul>
                <li>
                    <a href=/category_list/>Создать курс</a>
                </li>
                <li>
                    <a href=/courses_list/>Список курсов</a>
                </li>
                <li>
                    <a href=/create_student/>Создать студента</a>
                </li>
                <li>
                    <a href=/add_student/>Добавить студента</a>
                </li>
                <li>
                    <a href=/student_list/>Список студентов</a>
                </li>
            </ul>
          <li><a href=/contacts/>Контакты</a></li>
        </ul>
      </div>