{% block title %}
    {% include "base.html" %}
{% endblock %}
{% block menu %}
	{% include "menu.html" %}
{% endblock %}
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h2>Новости</h2>
        <h4>Гайст повернул назад</h4>
        <h5>January 1st, 2023</h5>
        <p>Еще один участник кругосветной гонки Golden Globe Race – 50-летний француз Арно Гайст – решил сойти с дистанции.</p>
        <p>Гайст, выступающий на яхте Hermes Phoning (Barbican 33 mk2), несколько часов назад сообщил директорату GGR, что повернул назад – в Ле-Сабль-д’Олон (с возможной остановкой на Острове Святой Елены.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>"Балтийский ветер" стих</h4>
        <h5>January 9th, 2023</h5>
        <p>Завершилась регата «Балтийский ветер» в рамках Санкт-Петербургской парусной недели 2022. В течение восьми дней и 177 морских миль было проведено четыре оффшорные и две прибрежные гонки.<br /><a href="#">Read more</a></p>
        <h3>Полезные ссылки</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h2>Объявление</h2>
        <p>Для участия в 200 мильной регате на яхту "Тихэ" требуется профессиональный кок.</p>
        <h4>Требования</h4>
          <ul>
          <li>Навыки приготовления пищи при большой волне и еще большем крене.</li>
          <li>Владение техниками приготовления здорового питания.</li>
          <li>Умение работать в стрессовых ситуациях.</li>
          <li>Отсутствие вредной привычки спорить с капитаном.</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    Copyright &copy; Popeye the Yacht School
    <div id="footer">
    </div>
